@import "./fonts/fonts.css";
@import "./header.css";
@import "./menu.css";
@import "./burger.css";
@import "./hero.css";
@import "./air-mag.css";
@import "./product.css";

:root {
  --main-color: #fff;
  --main-glow-color: #ffffff4d;
  --accent-color: #ffea00;
  --accent-glow-color: #ffea004d;
  --bg-color: #2a2a29;
  --secondary-color: #c9c69b;
  --disabled-color: #5d5d56;
  --disabled-glow-color: #5d5d56;
  --shadow-color: #181817;

  --shadow-glow: 0 0 6px 2px var(--main-glow-color);
  --shadow-accent-glow: 0 0 6px 2px var(--accent-glow-color);
  --shadow-disabled-glow: 0 0 6px 2px var(--disabled-glow-color);

  --container-width: 1240px;
  --container-padding: 15px;

  --transition-time: 0.2s;

  --layer-negative: -1;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
}
:root {
  --font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}

.page {
  font-family: Montserrat;
  color: var(--main-color);
  scroll-padding-top: 98px;
}
.page__body {
  background-color: var(--bg-color);
  min-width: 375px;
}
.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin: 0 auto;
}
a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}
.page__body--no-scroll {
  overflow-y: hidden;
}
.text-regular,
.text-light {
  font-size: 16px;
  line-height: 140%;
  color: var(--main-color);
}
.text-regular {
  font-weight: 400;
}
.text-light {
  font-weight: 300;
}
.title-sm,
.title-md {
  font-family: var(--font-family);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-color);
}
.title-md {
  font-size: clamp(2rem, 0.936rem + 4.54vw, 3.75rem);
}
.title-sm {
  /* min-width=375px max-width: 768px; */
  font-size: clamp(24px, 1.023rem + 2.04vw, 32px);
}
img {
  object-fit: cover;
}
@media (width > 576px) {
  .section {
    padding-bottom: 140px;
  }
  .section-title {
    margin-bottom: 40px;
  }
}
@media (width <= 576px) {
  .section {
    padding-bottom: 80px;
  }
  .section-title {
    margin-bottom: 30px;
  }
}
